/////////////////////////////////
//BUDGET STYLES
/////////////////////////////////
.hero {
	background-color: var(--color-primary-dark);
}

.budgie {
	height: 94vh;
	min-height: 650px;

	@media only screen and (max-width:$bp-medium ) {
        min-height: 1000px;
	}
	
	// @media only screen and (max-width: 390px) {
	// 	min-height: 1000px;
	// }
}

.Budget {
	@include flex(column);
	padding: 1rem 0 1.5rem 0;

	&__title {
		@include fontStyle(3rem, 3.2rem, var(--color-white), $body-font, 400);
		text-align: center;

		@media only screen and (max-width:$bp-medium ) {
			margin-top: 4rem;
		}
	}

	&__value {
		@include fontStyle(4rem, 6rem, var(--color-white), $body-font, 700);
		letter-spacing: 2px;
	}

	&__income,
	&__expenses {
		@include flex(row, space-around, center);
		width: 30rem;
		@include fontStyle(2rem, 2.4rem, var(--color-primary-dark), $body-font, 700);
		text-transform: uppercase;
		text-align: center;
		margin: 3rem;
		padding: 1.5rem 3rem;

		@media only screen and (max-width:$bp-medium ) {
			margin: 1.5rem;
			width: 40rem;
		}

		@media only screen and (max-width: 390px) {
			width: 30rem;
		}
	}

	&__income {
		background-color: var(--color-primary);
	}

	&__expenses {
		background-color: var(--color-primary-light);
	}

	&__income--text,
	&__expenses--text {
		@include fontStyle(1.8rem, 2.2rem, var(--color-grey-dark-1), $body-font, 400);

		&:not(:last-child){
			margin-right: 5rem;
		}
	}
	&__income--value,
	&__expenses--value {
		letter-spacing: 1px; 
		color: var(--color-primary-dark);
	}
}

.displayWidth {
	width: 45%;

	@media only screen and (max-width:$bp-medium ) {
        width: 100%;
    }
}

.info {
	@include flex(row);

	@media only screen and (max-width:$bp-medium ) {
		@include flex(column);
    }
}

.flex {
	@include flex(row, space-between, flex-start);

	@media only screen and (max-width:$bp-medium ) {
        flex-direction: column;
    }
}

//////////////////////////////////////////////////////////////////////////////////////
// General Expenses and Salary Input Styles
//////////////////////////////////////////////////////////////////////////////////////

.Salary__description,
.Salary__date,
.Expenses__date,
.Expenses__value,
.Expenses__description {
	background-color: var(--color-white);
	@include fontStyle(1.5rem, 1.7rem, var(--color-grey-dark-2), $body-font, 400);
	padding: 1.2rem 1.5rem;
	margin-right: 1rem;
	border: 1px solid var(--color-grey-light);
	border-radius: 5px;
	outline: none;
	transition: border 0.3s;

	&:focus,
	&:active {
		border: 1px solid var(--color-primary-dark);
	}
}


//////////////////////////////////////////////////////////////////////////////////////
// Salary style 
//////////////////////////////////////////////////////////////////////////////////////
.Salary {
	&__inputs {
		width: 100%;
		@include flex(row, space-between);
	}

	&__description {
		width: 62%;
	}

	&__description::placeholder {
		color: var(--color-primary-dark);
		opacity: 1;
	}
	
	&__date { 
        width: 30%;
	}

	&__btn {
		@include fontStyle(3.5rem, 3.7rem, var(--color-primary), $body-font, 700);
        background: none;
        border: none;
        outline: none;
		cursor: pointer;
		
		&:focus,
		&:active { 
			outline: none;
			color: var(--color-primary-dark); 
		}
	}
	
	&__list {
		overflow-y: scroll;
		height: 15rem;

		
	}
}

//////////////////////////////////////////////////////////////////////////////////////
// Expenses style 
//////////////////////////////////////////////////////////////////////////////////////

.Expenses {
	margin-bottom: 5rem;
 
    &__title {
		@include fontStyle(2rem, 2.5rem, var(--color-primary-dark), $body-font, 700);
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 3rem 0 3rem 0;
	}
	
    &__inputs {
		@include flex(row, space-between);
	}

	&__description { 
        width: 35%;
	}

	&__description::placeholder { 
		color: var(--color-primary-dark);
		opacity: 1;
	}

	
    &__value { 
        width: 25%;
	}

	&__value::placeholder {
		color: var(--color-primary-dark);
		opacity: 1;
	}

	&__date { 
		width: 30%;
	}
	
    &__btn {
		@include fontStyle(3.5rem, 3.7rem, var(--color-primary), $body-font, 700);
        background: none;
        border: none;
        outline: none;
		cursor: pointer;
		
		&:focus,
		&:active { 
			outline: none;
			color: var(--color-primary-dark); 
		}
	}
	
	&__list {
		overflow-y: scroll;
		height: 15rem;
	}
}

//////////////////////////////////////////////////////////////////////////////////////
// Items style 
//////////////////////////////////////////////////////////////////////////////////////

.Item {
	width: 100%;
    padding: 1.3rem;
	border-bottom: 1px solid var(--color-grey-light);
	
    &:first-child {
        border-top: var(--color-primary-light);
	}
	
    &:nth-child(even) {
        background-color: var(--color-grey-light);
	}
	
    &__inbox {
		@include flex(row, space-between);
	}

	&__description,
	&__value,
	&__date {
		@include fontStyle(1.8rem, 2.0rem, var(--color-grey-dark-1), $body-font, 400);
		transition: transform 0.3s;
	}

	&__description { 
		text-align: left;
		padding-left: 1%;
        width: 35%;
	}
	
    &__value { 
        width: 25%;
	}

	&__date { 
        width: 30%;
	}

	&__delete {
		&--btn { 
            @include fontStyle(1.9rem, 2.0rem, rgba($tertiary, 0.5), $body-font, 400);
			background: none;
			border: none;
            cursor: pointer;
            transition: all 0.3s;

            &:focus,
            &:active,
            &:hover {
                outline: none;
                color: rgba($tertiary, 1);
			}
		}
	}
}

.Salary__list {
	.Item__value {
		width: 60%;
	}
}

.accessible {
	color: var(--color-primary-dark);
	padding-top: 15px;
}

