
/////////////////////////////// About section button

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: capitalize;
        font-size: 2.4rem;
        line-height: 3rem;
        text-decoration: none;
        color: var(--color-primary);
        transition: all .2s;
        margin-top: 3rem;
    }

    &:hover {
        background-color: var(--color-primary);;
        color: var(--color-grey-dark-2);
        border-radius: 3px;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(4px);
    }

    &:active {
        transform: translateY(-2px);
    }
}