/////////////////////////////////
//BUTTON STYLES
/////////////////////////////////
button {
    // outline: 0;
    border: none;
}

.btn-link {
    text-decoration:none;
}

.header-button {
    background: transparent;
    // position: absolute;
    bottom: 7rem;
    left: 10rem;  
    box-shadow: 0rem 1rem 2rem rgba(var(--color-grey-dark-1), .5);
    border-radius: 7px;
    
    a {
        color: var(--color-white);
        padding: .7rem $extra;
        display: inline-block;
        border: $thick solid transparent;
        position: relative;
        font-size: 2rem;
        cursor: pointer;
        letter-spacing: 0.07em;
        text-transform: uppercase;

        .text {
            padding: 0 0.3em;
            transform: translate3d(0,$pad,0);
            display: block;
            transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:after {
            position: absolute;
            content: '';
            bottom: -$thick;
            left: $extra;
            right: $extra;
            height: $thick;
            background: var(--color-primary);
            // z-index: -1;
            transition: 
            transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
            right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
            left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
            transform-origin: left;
        }
    }

    .line {
        // position: absolute;
        background: var(--color-primary);
    
        &.-right,
        &.-left {
            width: $thick;
            bottom: -$thick;
            top: -$thick;
            transform: scale3d(1,0,1);
        }  

        &.-top,
        &.-bottom {
            height: $thick;
            left: -$thick;
            right: -$thick;
            transform: scale3d(0,1,1);
        }
    
        &.-right {
            right: -$thick;
            transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
            transform-origin: top;
        }
    
        &.-top {
            top: -$thick;
            transition: transform 0.08s linear 0.43s;
            transform-origin: left;
        }
    
        &.-left {
            left: -$thick;
            transition: transform 0.08s linear 0.51s;
            transform-origin: bottom;
        }
    
        &.-bottom {
            bottom: -$thick;
            transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
            transform-origin: right;
        }  
    }

    a:hover,
    a:active {

        .text {
            transform: translate3d(0,0,0);
            transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
        }
    
        &:after {
            transform: scale3d(0,1,1);
            right: -$thick;
            left: -$thick;
            transform-origin: right;
            transition: 
            transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
            right 0.2s cubic-bezier(1,0,.65,1.01),
            left 0s 0.3s;
        }

        .line {
            transform: scale3d(1,1,1);
    
            &.-right {
                transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
                transform-origin: bottom;
            }
    
            &.-top {
                transition: transform 0.08s linear 0.4s;
                transform-origin: right;
            }
    
            &.-left {
                transition: transform 0.08s linear 0.48s;
                transform-origin: top;
            }
    
            &.-bottom {
                transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
                transform-origin: left;
            }
        }

    }
}


/////////////////////////////// About section button

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: capitalize;
        font-size: 2.4rem;
        line-height: 3rem;
        text-decoration: none;
        color: var(--color-primary);
        transition: all .2s;
        margin-top: 3rem;
    }

    &:hover {
        background-color: var(--color-primary);;
        color: var(--color-grey-dark-2);
        border-radius: 3px;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(4px);
    }

    &:active {
        transform: translateY(-2px);
    }
}