/////////////////////////////////
//FOOTER STYLES
/////////////////////////////////
.Footer {
    @include flex(row);
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    height: 5vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    &__paragraph {
        font-size: 1.5rem;
    }

    &__social-media {
        @include flex(row, space-between, center);

        &-item {
            margin: 0 2rem;
        }
    }

    .fab {
        color: var(--color-primary);
    }
}