/////////////////////////////////
// Footer Page Styles
/////////////////////////////////
.Footer {
    @include flex(row);
    background-color: var(--color-primary-dark);
    height: 6vh;
    width: 100%;

    &__paragraph {
        font-size: 1.5rem;
    }

    &__social-media {
        @include flex(row, space-between, center);

        &-item {
            width: 3rem;
            margin: 0 2rem;
        }

        &-link {
            color: var(--color-primary);
            transition: all 0.3s;

            &:focus {
                color: var(--color-white);
                outline: none;
            }
        }

        &-item:hover &-link {
            color: var(--color-white);
        }
    }
}