/////////////////////////////////
//Header STYLES
/////////////////////////////////
.header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../../assets/cover.jpeg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    // clip-path: polygon(0 6%,100% 0, 100% 100%, 0 100% );
    // position: relative;
    @include flex(column, space-between);

    .Container {
        // height: 90%;
        @include flex(column, space-between);
    }

    .heading-primary {
        font-family: 'Sirin Stencil', cursive;
        color: var(--color-white);
        text-transform: uppercase;
        width: 50%;
        text-align: center;
        font-size: 6rem;
        // text-shadow: 5px 5px var(--color-primary);
        // border-top: 5px solid var(--color-primary);
        margin-bottom: 25%;
    
        &__main {
            display: block;
            letter-spacing: 1rem;
            font-weight: 400;
            animation: slide-in-left 1.3s ease-out;
            backface-visibility: hidden;
        }
    
        &__sub {
            display: block;
            letter-spacing: 0.5rem;
            font-size: 2.5rem;
            line-height: 2.7rem;
            font-weight: 700;
            animation: slide-in-bottom 1s ease-out;
        }
    }

    .navigation {
        width: 100%;
        // padd-top: 2%;
        // margin-left: 2%;
        // margin-right: 5%;
        padding: 3% 5% 0 5%;
    }

    .navigation__list {
        width: 100%;
        @include flex(row, space-between);
    }

    &__buttonContainer {
        width: 50%;
        @include flex(row);
        margin-bottom: 10%;
    }

    
}

.fab {
    color: var(--color-primary);
}

.logo {
    width: 7rem;
    height: auto;
}

////////////////////  ANIMATIONS IN THE HEADER
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    }
    @keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}