html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    @media only screen and (max-width: $bp-large) {
        font-size: 55%;
    }
   
    @media only screen and (max-width:$bp-medium ) {
        font-size: 45%;
    }
}

body {
    @include fontStyle(1.6rem, 2.5rem, var(--color-grey-dark-2), $base-font, 400);
    // font-family: $base-font;
    // font-weight: 400;
    // line-height: 1.6;
    // color: var(--color-grey-dark-2);
}