:root {
    --color-primary: #88c2a9;
    --color-primary-light: #dfffec;
    --color-primary-dark: #1f3a33;

    --color-white : #fff; 
    --color-black : #000;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-light: #e7e7e7;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 46.75em;     // 784px

$thick : 3px;
$pad : 0.7rem;
$extra : calc(#{$pad} * 1.2);
$social-width: 20%;

$base-font: 'Barlow', sans-serif;

// ====================
// Mixins
// ====================
@mixin flex($direction, $justContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justContent;
    align-items: $alignItems;
}

@mixin fontStyle($size, $lh, $color, $fam: $body, $weight: 400) {
    font-family: $fam;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
    color: $color;
}